{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
<h1>Привет, я Федотов Егор</h1>
  <p>
    Начал заниматься программированием совсем не давно, 
    примерно с лета 2022, Но желание начать изучать присутствовало 
    уже очень давно, но всегда были какие-то причины отложить это. 
    В итоге после нескольких попыток самостоятельного изучение было 
    принято твердое решение полностью погрузиться в сферу backend 
    разработки на Яндекс практикуме. Изучение идет пока туго, много что 
    не понятно, материал усваивается далеко не с первого раза, НО! я уверен,
    что успех не избежен, сделал уже несколько проектов 
    <a href='https://github.com/EgorFedotov/'> они тут<br></a>
  </p>
</div>
{% endblock %} 