{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Основы Python 
      </li>
      <li class="list-group-item">
        Django идет туго, тяжело, но идет!
      </li>
      <li class="list-group-item">
        SQL малость понимаю
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Работаю в VSCode по началу проклинал 
       это приложение, а сйечас уже привык, в целом логика и 
       работа django понятна, но самостоятельно без ресурсов 
       выполниться задания пока не получается
    </p>
  </article>
</div>
{% endblock %} 